---
layout: default
title: GitLab turns 10!
description: "We’re celebrating ten years since the first commit to the GitLab open source project."
canonical_path: '/ten/'
image_title: '/images/ten/10-year-teaser-graphic.png'
twitter_image: '/images/ten/10-year-teaser-graphic.png'
suppress_header: true
---

<section>
  <div class="slp-commit-grid slpEventHeader slp-mb-64 md:slp-mb-160">
    <div class="slpEventHeader__text slp-col-start-1 slp-col-span-full md:slp-col-span-6">
      <h1 class="slp-font-normal slp-text-5xl md:slp-text-6xl slp-text-grayscale-333 slp-leading-none slp-mb-24 md:slp-mb-32">
        GitLab turns 10!
      </h1>
      <p class="slp-font-normal slp-text-md md:slp-text-xl slp-text-grayscale-333 slp-leading-tight slp-mb-24 md:slp-mb-8">
        We're celebrating ten years since the first commit to the GitLab open source project.
      </p>
      <a href="/community/ten-year/" class="slpEventHeader__button slp-btn slp-btn--secondary slp-col-span-full slp-min-w-full sm:slp-min-w-min md:slp-col-start-1 md:slp-w-max">
      Learn more
      </a>
    </div>
    <div class="slpEventHeader__feature slp-col-start-1 slp-col-span-full  md:slp-col-span-6 slp-flex slp-justify-center slp-items-center slp-w-full">
      <img src="/images/ten/10-year-teaser-graphic-01.svg" alt="Hero image with the 10 year anniversary logo." />
    </div>
  </div>
</section>
<section>
  <div data-countdown-date="Oct 8, 2021 00:00:00" class="slpEventCountdown slp-commit-grid slp-relative slp-mb-64 md:slp-mb-160">
    <h2 class="slp-font-normal slp-text-grayscale-333 slp-text-3xl md:slp-text-4xl slp-leading-tight slp-mb-16 slp-max-w-3xl slp-col-span-full">
      Countdown
    </h2>
    <div class="slp-relative slp-col-span-full slp-flex slp-flex-wrap slp-justify-between" id="slpEventCountdown">
      <div class="slp-countdown-card slp-bg-ui-secondary-dark slp-text-white slp-py-32 md:slp-py-60 slp-rounded-md slp-uppercase slp-text-center slp-mb-8 slp-mr-8">
        <div id="slp-countdown-days" class="slp-text-5xl slp-font-bold"></div>
        <div class="slp-text-base slp-font-semibold">days</div>
      </div>
      <div class="slp-countdown-card slp-bg-ui-secondary-dark slp-text-white slp-py-32 md:slp-py-60 slp-rounded-md slp-uppercase slp-text-center slp-mb-8 slp-mr-8">
        <div id="slp-countdown-hours" class="slp-text-5xl slp-font-bold"></div>
        <div class="slp-text-base slp-font-semibold">hours</div>
      </div>
      <div class="slp-countdown-card slp-bg-ui-secondary-dark slp-text-white slp-py-32 md:slp-py-60 slp-rounded-md slp-uppercase slp-text-center slp-mb-8 slp-mr-8">
        <div id="slp-countdown-minutes" class="slp-text-5xl slp-font-bold"></div>
        <div class="slp-text-base slp-font-semibold">minutes</div>
      </div>
      <div class="slp-countdown-card slp-bg-ui-secondary-dark slp-text-white slp-py-32 md:slp-py-60 slp-rounded-md slp-uppercase slp-text-center slp-mb-8 slp-mr-8">
        <div id="slp-countdown-seconds" class="slp-text-5xl slp-font-bold"></div>
        <div class="slp-text-base slp-font-semibold">seconds</div>
      </div>
    </div>
  </div>
</section>
<script src="<%= cache_bust('/javascripts/slippers-event-countdown.js', cache_bust_value) %>" type="text/javascript"></script>