---
title: Faster Code Reviews
description: Improve the overall quality of code and implement controls to ensure requirements are adequately implemented with GitLab
canonical_path: "/solutions/code-reviews/"
suppress_header: true
extra_css:
  - bl-modal.css
  - video-carousel.css
extra_js:
  - libs/slick.min.js
  - video-carousel.js
---

%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"}
%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"}

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 Faster Code Reviews
    %p Ensure high code quality across teams through seamless code review workflows
    = link_to "Try GitLab Free", "/free-trial/", class: "btn cta-btn orange"
.gitlab-content-container.reverse-content
  .content.row-layout
    .full-width
      %p With GitLab, reviews are baked into every part of the development process - so that teams can collaborate together to improve the overall quality of code and implement controls to ensure requirements are adequately implemented in the code.

  .content.row-layout
    .full-width
      %h2 Code is better with collaboration
      %p Every code review starts with a merge request. The merge request allows team members, reviewers and approvers to collaborate with each other.
      %ul
        %li
          = link_to "Diff", "https://docs.gitlab.com/ee/user/project/merge_requests/reviews/#review-a-merge-request"
          shows the changes alongside the original code - helping reviewers identify changes with ease.
        %li
          Comments allow reviewers to ask clarifying questions or discuss the changes with the author and other reviewers.
        %li
          Reviewers can insert
          = link_to "suggestions", "https://docs.gitlab.com/ee/user/project/merge_requests/reviews/suggestions.html"
          for one or more lines of code, rather than going back and forth through comments.
    .full-width
      = image_tag "images/mr_review_start.png", class: "screenshot margin-bottom10", alt: "Merge requests diff and comments"
  .content.row-layout
    .full-width
      %h2 Code controls for better quality
      %p To ensure only high quality code is merged into the main branch, the merge request is also the central place to implement controls
      %ul
        %li
          To identify the right reviewers / approvers,
          = link_to "code owners", "https://docs.gitlab.com/ee/user/project/code_owners.html"
          can be defined for every file within the code and owners become an eligible approver for the file.
        %li
          = link_to "Approval", "https://docs.gitlab.com/ee/user/project/merge_requests/approvals/"
          rules help define how many approvals a merge request must receive before it can be merged.
          = link_to "Multiple approvers", "https://docs.gitlab.com/ee/user/project/merge_requests/approvals/#required-approvals"
          can be set up for a change. For example., for a critical backend change, without approvals from backend, database and security, the code cannot be merged.
    .full-width
      = image_tag "images/approvals_premium_mr_widget_v13_3.png", class: "screenshot margin-bottom10", alt: "Merge request approvals"
  .content.row-layout
    .full-width
      %h2 Continuous improvement through insights
      %p Interpreting data to derive insights for improvement is what gives teams an edge over others.
      %ul
        %li
          = link_to "Code quality reports", "https://docs.gitlab.com/ee/user/project/merge_requests/code_quality.html"
          help developers identify code quality changes directly in the merge request. Quality violations are also shown on the merge request diff view to enable developers to resolve the violations before the code is merged to maintain the overall health of the code quality.
        %li
          = link_to "Code review analytics", "https://docs.gitlab.com/ee/user/analytics/code_review_analytics.html"
          helps to analyze patterns and trends related to code reviews that could be slowing down the development cycle time.
    .full-width
      = image_tag "images/code_review_analytics.png", class: "screenshot margin-bottom10", alt: "Code review analytics"

  .content
    %h2.u-margin-bottom-sm.text-center
      Featured videos
    .video-slider
      - data.video_carousel.each do |video|
        -if video.carousel_identifier.include?("Code Review Carousel")
          = partial "includes/components/video-carousel/video-item", locals: {name: video.name, title: video.title, company: video.company, photourl: video.photourl, videolink: video.video_link}


%section
  .container
    .row
      .col-md-12.text-center
        = partial "includes/blog/try"

- data.video_carousel.each do |video|
  -if video.carousel_identifier.include?("Code Review Carousel")
    = partial "includes/components/video-carousel/video-carousel-modal", locals: {videolink: video.video_link, title: video.title, photourl: video.photourl}
